/* src/components/Login/Login.css */
.login {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.login form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login input {
    padding: 0.5rem;
    border-radius: 5px;
        border: none;
        margin-bottom: 1rem;
    font-size: 16px;
}

.login button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}

.login-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.login-button:active {
    background-color: #c4c4c4; 
}