/* src/components/Navbar/Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1A237E;
    padding: 1rem;
    color: white;
    font-family: Arial, sans-serif;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-items {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navbar-item {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
}

.logout-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 4px;
}

.logout-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2rem;
    }

    .navbar-items {
        gap: 0.5rem;
    }

    .navbar-item {
        font-size: 0.9rem;
    }

    .logout-btn {
        padding: 0.3rem 0.6rem;
        font-size: 0.9rem;
    }
}