/* src/components/Signup/Signup.css */
.signup {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.signup form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup input {
    padding: 0.5rem;
        border-radius: 5px;
        border: none;
        margin-bottom: 1rem;
        font-size: 16px;
}

.signup button {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
}