.App {
  /* min-height: 100vh;
  display: flex; */
  /* background-image: url("./background.jpg");
  background-position: center;
  background-size: cover; */
  font-family: 'Open Sans', sans-serif;
  
}
